.hot {
    color:red;
}

.cool {
    color:blue;
}

.verdant {
    color:green;
}

.big {
    font-size:2.4em;
}

.tiny {
    font-size:.5em;
}

.center {
    text-align:center;
}

.heavy {
    font-weight: bold;
}

.combo {
    color:orange;
    font-size:1.5em;
    font-weight: bold;
}

.script {
    font-family: fantasy;
}

.styledFont {
    color:green;
}

#styledImage {
    border:8px solid orange;
}